<body>
    
<div class="ring">
    <i style="--clr:#124559;" class="i2"></i>
    <i style="--clr:#598392;" class="i2"></i>
    <i style="--clr:#AEC3B0;" class="i2"></i>
    <div class="login">
      <h2>Register</h2>
      <div class="inputBx">
        <input type="text" placeholder="Firstname">
      </div>
      <div class="inputBx">
        <input type="text" placeholder="Lastname">
      </div>
      <div class="inputBx">
        <input type="email" placeholder="Email">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Confirm password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Register" class="valid">
      </div>
      <div class="links">
        Already have an account ?<a routerLink="/signin">Sign in</a>
      </div>
    </div>
  </div>

</body>