<div class="component">
    <div class="profileCard">
        <div class="image-container">
            <img [src]="avatar.url" alt="a random avatar picture" (click)="triggerFileInput()">
            <div class="hover-text">Modifier l'avatar</div>
        </div>

        <!-- Champ d'upload de fichier caché -->
        <input type="file" id="image" accept="image/*" (change)="onFileSelected($event)" style="display: none;">

        <div class="form-container">
            <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Prénom :</label>
                    <input type="text" formControlName="firstName" placeholder="Prénom">
                </div>

                <div class="form-group">
                    <label for="lastName">Nom :</label>
                    <input type="text" formControlName="lastName" placeholder="Nom">
                </div>

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" formControlName="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" formControlName="password" placeholder="Mot de passe">
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirmer le mot de passe :</label>
                    <input type="password" formControlName="confirmPassword">
                </div>

                <!-- Message d'erreur si les mots de passe ne correspondent pas -->
                <div *ngIf="!passwordsMatch" class="error-text">Les mots de passe ne correspondent pas</div>

                <button class="update-btn" type="submit" [disabled]="!updateUserForm.valid || !passwordsMatch">Mettre à jour</button>
            </form>
        </div>
    </div>
</div>
