<mat-card class="example-card" appearance="outlined" routerLink="/product-details/{{product.id}}">
  <mat-card-header>
    @if(isAdmin) {
    <div class="icon-container">
      <button mat-icon-button (click)="onEdit(product.id)" aria-label="Modifier">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(product.id)" aria-label="Supprimer">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
    <mat-card-title-group>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
      <mat-card-subtitle>Stock : {{ product.stock }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <img mat-card-lg-image src="https://picsum.photos/400">
  <mat-card-content>
    {{ product.description }}
  </mat-card-content>
</mat-card>