<mat-card class="example-card" appearance="outlined" routerLink="/product-details/{{product.id}}">
  <mat-card-header>
    @if((isAdmin || isGestionnaire) && (user.EnterpriseId === product.EnterpriseId)) {
    <ng-container>
      <div class="icon-container">
        <button mat-icon-button [routerLink]="['/update-product', product.id]" aria-label="Modifier">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(product.id)" aria-label="Supprimer">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
    } @else {
      <ng-container>
        <div class="icon-container">
          <button>Add to cart</button>
        </div>
      </ng-container>
    }

    <mat-card-title-group>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
      <mat-card-subtitle>Stock : {{ product.stock }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <!-- Carousel d'images -->
  <div class="carousel-container">
    <div class="carousel" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
      <div *ngFor="let image of productImages; let i = index" class="carousel-item">
        <img [src]="image.url" alt="Product image" class="carousel-image" />
      </div>
    </div>
    <button class="carousel-button left" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-button right" (click)="nextSlide()">&#10095;</button>
  </div>

  <mat-card-content>
    <h3>Description du produit :</h3>
    <p>{{ product.description }}</p>
  </mat-card-content>
</mat-card>