<mat-card class="example-card" appearance="outlined" routerLink="/product-details/{{product.id}}">
  <mat-card-header id="headerCard">
    <div class="header-container">
      <mat-card-title-group>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</mat-card-subtitle>
        <mat-card-subtitle>Stock : {{ product.stock }}</mat-card-subtitle>
        <mat-card-subtitle>Vendeur : {{ enterprise.name }}</mat-card-subtitle>
      </mat-card-title-group>

      <div class="icon-container">
        <ng-container *ngIf="isAdmin || (user.EnterpriseId === product.EnterpriseId)">
          <button mat-icon-button [routerLink]="['/update-product', product.id]" aria-label="Modifier">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(product.id)" aria-label="Supprimer">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="!isAdmin && (user.EnterpriseId !== product.EnterpriseId)">
          <ng-container *ngIf="!isLoggedIn"> 
            <input type="number" min="1" max="{{product.stock}}" placeholder="Quantité" class="quantity-input"/>
            <button class="add-to-cart-btn" routerLink="/signin">Ajouter au panier</button> 
          </ng-container>

          <ng-container *ngIf="isLoggedIn"> 
            <input type="number" [(ngModel)]="quantity" min="1" max="{{product.stock}}" placeholder="Quantité" class="quantity-input" />
            <button class="add-to-cart-btn" (click)="addToCart()">Ajouter au panier</button> 
            <div *ngIf="confirmationMessage" class="alert alert-success fade-in">
              {{ confirmationMessage }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mat-card-header>

  <!-- Carousel d'images -->
  <div class="carousel-container">
    <div class="carousel" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
      <div *ngFor="let image of productImages; let i = index" class="carousel-item">
        <img [src]="image.url" alt="Product image" class="carousel-image" />
      </div>
    </div>
    <button class="carousel-button left" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-button right" (click)="nextSlide()">&#10095;</button>
  </div>

  <mat-card-content>
    <h3>Description du produit :</h3>
    <p>{{ product.description }}</p>
  </mat-card-content>
</mat-card>
