.example-card {
    position: relative;
    max-width: 400px;
    margin-bottom: 8px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vh;
    justify-content: center;
    margin: 2vh;
  }
  
  @media screen and (max-width: 1150px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  .icon-container {
    position: absolute; /* Positionner en absolu par rapport au conteneur parent */
    top: 10px; /* Ajustez selon vos besoins */
    right: 10px; /* Ajustez selon vos besoins */
    display: flex;
    gap: 8px; /* Espacement entre les icônes */
  }