<body>
    <div class="custom-carousel">
      <div class="custom-carousel-inner">
        <input class="custom-carousel-open" type="radio" id="custom-carousel-1" name="custom-carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="custom-carousel-item">
          <img src="Designer (67).jpeg">
        </div>
        <input class="custom-carousel-open" type="radio" id="custom-carousel-2" name="custom-carousel" aria-hidden="true" hidden="">
        <div class="custom-carousel-item">
          <img src="Designer (68).jpeg">
        </div>
        <input class="custom-carousel-open" type="radio" id="custom-carousel-3" name="custom-carousel" aria-hidden="true" hidden="">
        <div class="custom-carousel-item">
          <img src="Designer (64).jpeg">
        </div>
  
        <label for="custom-carousel-3" class="custom-carousel-control custom-prev custom-control-1">‹</label>
        <label for="custom-carousel-2" class="custom-carousel-control custom-next custom-control-1">›</label>
        <label for="custom-carousel-1" class="custom-carousel-control custom-prev custom-control-2">‹</label>
        <label for="custom-carousel-3" class="custom-carousel-control custom-next custom-control-2">›</label>
        <label for="custom-carousel-2" class="custom-carousel-control custom-prev custom-control-3">‹</label>
        <label for="custom-carousel-1" class="custom-carousel-control custom-next custom-control-3">›</label>
  
        <ol class="custom-carousel-indicators">
          <li><label for="custom-carousel-1" class="custom-carousel-bullet">•</label></li>
          <li><label for="custom-carousel-2" class="custom-carousel-bullet">•</label></li>
          <li><label for="custom-carousel-3" class="custom-carousel-bullet">•</label></li>
        </ol>
      </div>
    </div>
  </body>
  