<h1>Modifier le produit :</h1>

<form [formGroup]="productGroup" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <input formControlName="name" placeholder="Nom du produit">
  <input formControlName="price" placeholder="Prix">
  <input formControlName="description" placeholder="Description">
  <input formControlName="stock" placeholder="Stock actuel">
  
  <div class="form-group">
    <select id="ProductCategoryId" formControlName="ProductCategoryId" class="form-control">
      <option value="" disabled>Catégorie</option>
      <option *ngFor="let productCategory of productCategories$ | async" [value]="productCategory.id">
        {{ productCategory.title }}
      </option>
    </select>
  </div>
  
  <!-- Intégration de l'upload de fichier dans le même formulaire -->
  <input type="file" name="images" id="images" multiple>

  <div *ngFor="let image of existingImages">
    <img [src]="image.url" alt="Image actuelle" />
    <button type="button" (click)="removeImage(image.id)">Supprimer cette image</button>
  </div>
  
  <button type="submit" [disabled]="!productGroup.valid">Modifier le produit</button>
</form>