<div class="admin-board">
    <h1 class="admin-board-title">Gestion des entreprises :</h1>
    <button class="admin-button" routerLink="/">Voir toutes les entreprises</button>
  
    <h1 class="admin-board-title">Gestion des produits :</h1>
    <button class="admin-button" routerLink="/products-list">Voir tous les produits référencés</button>
  
    <h1 class="admin-board-title">Gestion des utilisateurs :</h1>
    <button class="admin-button" routerLink="/">Voir tous les utilisateurs enregistrés</button>
  </div>
  