<div class="alertes">
    @for (product of products; track product.id) {
    @if (product.EnterpriseId === user.EnterpriseId && product.stock <= 10) { <div class="custom-alertStock">
        ❗️Attention,
        votre produit
        <a routerLink="/product-details/{{product.id}}">{{product.name}}</a> a un stock faible ! ({{product.stock}}) ❗️
</div>
}
}
</div>



<!-- Section sans Bootstrap -->
<div class="container-orders mt-5">
    <p style="font-weight: 900; font-size: 200%;">Commandes de mon entreprise</p>
    <div class="orders-section" id="blocs">
        <div class="column">
            <h2>Ventes :</h2>
            <ul class="order-list">
                <li *ngFor="let order of receivedOrders.slice(0, displayedReceivedOrders)" class="order-item">
                    <div class="order-details">
                        <strong>Numéro de commande : </strong> {{ order.id }}<br>
                        <strong>Date : </strong> {{ order.createdAt | date:'dd/MM/yyyy' }}<br>
                        <strong>Montant total : </strong> {{ order.totalPrice |
                        currency:'EUR':'symbol':'1.2-2':'fr' }}<br>
                        <strong>Statut : </strong>
                        <span [ngStyle]="{'color': getColor(order.status)}">{{ order.status }}</span><br>

                        <div class="button-group">
                            <button *ngIf="order.status === 'WaitingForValidation'" class="btn"
                                (click)="validateOrder(order.id)">Valider la commande</button>

                            <button *ngIf="order.status === 'Validated'" class="btn"
                                (click)="shipOrder(order.id)">Confirmer expédition</button>

                            <button *ngIf="['Validated', 'Shipped', 'Finished'].includes(order.status)" class="btnBlue"
                                (click)="generateBill(order.id)">Voir la facture</button>
                        </div>
                    </div>
                </li>
            </ul>
            <button *ngIf="receivedOrders.length > displayedReceivedOrders" class="btnBlue mt-3"
                (click)="loadMoreReceived()">Voir plus de commandes</button>
        </div>

        <div class="column">
            <h2>Achats :</h2>
            <ul class="order-list">
                <li *ngFor="let order of sentOrders.slice(0, displayedSentOrders)" class="order-item">
                    <div class="order-details">
                        <strong>Numéro de commande : </strong> {{ order.id }}<br>
                        <strong>Date :</strong> {{ order.createdAt | date:'dd/MM/yyyy' }}<br>
                        <strong>Montant total :</strong> {{ order.totalPrice |
                        currency:'EUR':'symbol':'1.2-2':'fr' }}<br>
                        <strong>Statut : </strong>
                        <span [ngStyle]="{'color': getColor(order.status)}" class="status">{{ order.status
                            }}</span><br>

                        <div class="button-group">
                            <button *ngIf="order.status === 'Shipped'" class="btn"
                                (click)="confirmReceipt(order.id)">Confirmer réception et terminer
                                commande</button>

                            <button *ngIf="['Validated', 'Shipped', 'Finished'].includes(order.status)" class="btnBlue"
                                (click)="generateBill(order.id)">Voir la facture</button>
                        </div>
                    </div>
                </li>
            </ul>
            <button *ngIf="sentOrders.length > displayedSentOrders" class="btnBlue mt-3" (click)="loadMoreSent()">Voir
                plus de commandes</button>
        </div>
    </div>
</div>

@if (user.EnterpriseId) {
<div class="btnAddNewProduct">
    <button routerLink="/add-product" id="custom-btnAddProduct">Ajouter un nouveau produit</button>
</div>
}

<h1>Les produits de mon entreprise :</h1>

<h1 *ngIf="!user.EnterpriseId">Pas d'entreprise renseignée</h1>
<p *ngIf="!user.EnterpriseId"><a routerLink="/enterprise">Renseigner votre entreprise pour avoir accès au
        dashboard</a></p>

<div class="custom-page">
    <div class="custom-container">
        <div *ngFor="let product of productsOfCurrentUserEnterprise" class="custom-card">
            <ng-container>
                <mat-card class="custom-example-card" [routerLink]="['/product-details', product.id]">
                    <mat-card-header class="smallCard">
                        <mat-card-title-group>
                            <mat-card-title>{{ product.name }}</mat-card-title>
                            <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
                            <mat-card-subtitle>Stock : {{ product.stock }}</mat-card-subtitle>
                            <img mat-card-lg-image [src]="product.firstImage" alt="Image du produit">
                        </mat-card-title-group>
                    </mat-card-header>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>
