.container-orders {
    margin: 2vh;
    margin-top: 6vh;
    text-align: center;
    border: 3px outset #4887a1;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.54);
    padding: 2vh;
    background-color: #fff;
    border-radius: 1vh;
}


.orders-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 2vh;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.order-item:hover {
    transition: 0.3s;
    filter: drop-shadow(6px 6px 10px rgb(73, 85, 130)) invert(0%) contrast(115%);
}


.status {
    font-weight: bold;
}

.alertes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.custom-alertStock {
    color: red;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 50vh;
    text-align: center;
    width: 80%;
}

.btnAddNewProduct {
    height: max-content;
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-wrap: wrap;
}

#custom-btnAddProduct {
    padding: 1vh 2vh;
    font-size: 120%;
    width: 30%;
    height: 7vh;
    background-color: #042330;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#custom-btnAddProduct:hover {
    background-color: #124559;
    letter-spacing: 0.2vh;
    transition: 0.69s;
}

.custom-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10vh;
}

.custom-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.custom-card {
    border: 1px solid #e9ecef;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-card:hover {
    background-color: #e9ecef;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px;
    text-align: left;
}

.mat-mdc-card-header img {
    border-radius: 50%;
}

@media (max-width: 1150px) {
    .custom-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .custom-container {
        grid-template-columns: 1fr;
    }
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1c7f33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2vh;
}

.btn:hover {
    background-color: #155e24;
}

.btnBlue {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #114257;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnBlue:hover {
    background-color: #05222e;
}

img {
    scale: 75%;
    }