<div class="component">
    <div class="profileCard">
        <div class="image-container">
            <img [src]="imageEnterprise.url" alt="Image de l'entreprise">
            <div class="hover-text">Modifier l'image</div>
        </div>

        <button routerLink="/update-enterprise/{{enterprise.id}}" class="button-82-pushable" role="button" id="editInfos">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
                Modifier
            </span>
        </button>

        <div class="align-left">
            <p><span class="color">Nom de l'entreprise</span> : {{ enterprise.name }}</p>
            <p><span class="color">Numéro de siret</span> : {{ enterprise.siret }}</p>
            <p><span class="color">Adresse</span> : {{ enterprise.address }}</p>
            <p><span class="color">Domaine d'activité</span> : {{ enterpriseCategory.title }}</p>
            <p><span class="color">IBAN</span> : {{ enterprise.iban }}</p>
        </div>
    </div>
</div>