<div class="component">
    <div class="profileCard">
        <div class="image-container">
            <img [src]="imageEnterprise.url" alt="Image de l'entreprise" (click)="triggerFileInput()">
            <div class="hover-text">Modifier l'image</div>
        </div>

        <!-- Champ d'upload de fichier caché -->
        <input type="file" id="imageEnterprise" accept="image/*" (change)="onFileSelected($event)" style="display: none;">

        <div class="form-container">
            <form *ngIf="enterprise && enterpriseCategories.length > 0" [formGroup]="updateEnterpriseForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Nom : </label>
                    <input id="name" formControlName="name" type="text">
                </div>
                <div class="form-group">
                    <label for="siret">SIRET : </label>
                    <input id="siret" formControlName="siret" type="text">
                </div>
                <div class="form-group">
                    <label for="address">Adresse : </label>
                    <input id="address" formControlName="address" type="text">
                </div>
                <div class="form-group">
                    <label for="enterpriseCategory">Catégorie d'entreprise : </label>
                    <select id="enterpriseCategory" formControlName="enterpriseCategory">
                        <option *ngFor="let category of enterpriseCategories" [value]="category.id">
                            {{ category.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="iban">IBAN : </label>
                    <input id="iban" formControlName="iban" type="text">
                </div>
                <button type="submit" class="update-btn">Mettre à jour</button>
            </form>
        </div>
    </div>
</div>
