<div class="container">

@for (product of items(); track product.id) {


    
  

  <div class="card">
  <mat-card class="example-card" appearance="outlined" routerLink="/product-details/{{product.id}}">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
        <mat-card-subtitle>Stock : {{ product.stock }}</mat-card-subtitle>
        <img mat-card-lg-image src="https://picsum.photos/400">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ product.description }}
    </mat-card-content>
  </mat-card>
</div>

}

</div>