.footer {
  background-color: #01161E;
  color: #e0e2f6;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column; /* Changer l'orientation en colonne pour les petits écrans */
  align-items: center; /* Centrer le contenu */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  padding: 10px;
  text-align: center; /* Centrer le texte dans chaque section */
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #e0e2f6;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center; /* Centrer les liens */
  align-items: center; /* Aligner les icônes et le texte */
}

.footer-section ul li a i {
  margin-right: 8px;
}

.footer-section ul li a:hover {
  color: #598392;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e0e2f6;
  margin-top: 20px;
  display: flex; /* Utiliser flexbox pour le logo et le texte */
  flex-direction: column; /* Aligner le logo et le texte en colonne */
  align-items: center; /* Centrer le contenu */
}

.footer-logo {
  height: 69px; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.social-media li a {
  color: #e0e2f6;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media li a:hover {
  color: #598392;
}

/* Media Query pour les écrans plus petits */
@media (min-width: 888px) {
  .footer-container {
    flex-direction: row; /* Revenir à une disposition en ligne sur les écrans plus larges */
    justify-content: space-around; 
  }

  .footer-section {
    flex: 1; 
    padding: 20px; 
  }
}

#CGU {
  text-decoration: none;
  color: #e0e2f6;
}

#CGU:hover {
  color: #598392;
  transition: 0.5s;
}
