<button (click)="logout()" id="btnLogout" class="button-89" role="button">Logout</button>


<div class="profileCard">
    <div class="image-container">
        <img [src]="avatar.url" alt="a random avatar picture">
    </div>

    <button class="button-82-pushable" role="button" id="btnAvatar">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
            📷 Changer
        </span>
    </button>
    <button class="button-82-pushable" role="button" id="editInfos">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
            Modifier
        </span>
    </button>
    <!-- <button id="btnAvatar">📷 Modifier l'avatar</button>
    <button id="editInfos">Button 56>Editer mes infos</button> -->
    <div class="align-left">
        <p>Prénom : <span>{{ user.firstName }}</span></p>
        <p>Nom : <span>{{ user.lastName }}</span></p>
        <p>Email : <span>{{ user.email }}</span></p>
        @if (userEnterprise) {
        <p>Mon entreprise : <span routerLink="/enterprise" style="cursor: pointer;">{{ userEnterprise.name }}</span></p>
        }
    </div>
</div>