img {
  --s: 180px; /* image size */
  --b: 3px; /* border thickness */
  --c: #023a50; /* border color */
  --f: 1; /* initial scale */
  
  width: var(--s);
  height: var(--s); /* Ajouté pour forcer une taille égale */
  aspect-ratio: 1;
  padding-top: 0; /* Ajustement pour éviter des marges inutiles */
  cursor: pointer;
  border-radius: 50%; /* Changement à 50% pour un cercle parfait */
  --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
  --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  background: 
    radial-gradient(
      circle closest-side,
      #d5dbc5 calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000
     ) var(--_g);
  -webkit-mask:
    linear-gradient(#000 0 0) no-repeat
     calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 0%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
  transform: scale(var(--f));
  transition: .5s;
}

img:hover {
  --f: 1.15; /* hover scale */
}


  .profileCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 35%;
    border: solid 1px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
    padding: 1vh;
    background-color: #598392;
    color: #e5e8df;
  }

  #btnAvatar {
    margin-top: 1.5vh;
    margin-bottom: 5vh;
  }

  #editInfos {
    position: absolute;
    top: 1vh;
    right: 1vh;
  }

  #btnLogout {
    position: absolute;
    right: 2vh;
    top: 2vh;
  }

  button {
    border-radius: 2vh;
    cursor: pointer;
  }

  p {
    margin-top: 0vh;
  }

  .image-container {
    margin-top: 2vh;
  }



/* CSS bouton logout */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(112, 23, 23);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: #e0e2f6;
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .33s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  letter-spacing: 0.1vh;

}

.button-89:active {
  background: var(--color);
  color: #fff;
}