<button (click)="logout()" id="btnLogout" class="button-89" role="button">Logout</button>


<div class="profileCard">
    <div class="image-container">
        <img [src]="avatar.url" alt="a random avatar picture">
    </div>

    <button id="btnAvatar">📷 Modifier l'avatar</button>
    <button id="editInfos">Editer mes infos</button>

    <p>Prénom : {{ user.firstName }}</p>
    <p>Nom : {{ user.lastName }}</p>
    <p>Email : {{ user.email }}</p>
    @if (userEnterprise) {
    <p>Mon entreprise : <span routerLink="/enterprise" style="cursor: pointer;">{{ userEnterprise.name }}</span></p>
    }
</div>