img {
  --s: 200px;
  /* image size */
  --b: 3px;
  /* border thickness */
  --c: #023a50;
  /* border color */
  --f: 1;
  /* initial scale */

  width: var(--s);
  height: var(--s);
  /* Ajouté pour forcer une taille égale */
  aspect-ratio: 1;
  padding-top: 0;
  /* Ajustement pour éviter des marges inutiles */
  cursor: pointer;
  border-radius: 50%;
  /* Changement à 50% pour un cercle parfait */
  --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
  --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  background:
    radial-gradient(circle closest-side,
    #e0edf6 calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000) var(--_g);
  -webkit-mask:
    linear-gradient(#000 0 0) no-repeat calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 0%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
  transform: scale(var(--f));
  transition: .5s;
}

img:hover {
  --f: 1.1;
  /* hover scale */
}


.profileCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 1.1rem;
  margin-top: 5vh;
  margin-bottom: 8vh;
  transition: 0.3s;
}

.profileCard:hover {
  transform: translateY(-3px);
  filter: drop-shadow(6px 6px 10px rgb(73, 85, 130)) invert(0%) contrast(115%);
  transition: 0.3s;
}

.color {
  color: rgb(198, 254, 254);
  text-decoration: underline;
}

.align-left {
  text-align: left;
  margin-top: 4vh;
}

.align-left p {
  margin: 1rem 0;
  color: #555;
}

.align-left .color {
  font-weight: bold;
  color: #114257;
  text-decoration: underline;
}

#btnAvatar {
  margin-top: 0.2vh;
  margin-bottom: 6vh;
}

#editInfos {
  background-color: #114257;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 2.5vh;
  right: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editInfos:hover {
  background-color: #03657a;
}

#btnLogout {
  position: absolute;
  right: 3vh;
  top: 3vh;
}

button {
  border-radius: 2vh;
  cursor: pointer;
}

p {
  margin-top: 0vh;
}



/* CSS bouton logout */
.button-89 {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: rgb(139, 30, 30);

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: #e0e2f6;
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .33s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 1.8vh;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;

}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.image-container {
  margin-top: 6vh;
  text-align: center;
  position: relative;
}

.hover-text {
  display: none;
  position: absolute;
  top: 98%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.85rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.image-container:hover .hover-text {
  display: block; /* Afficher le texte au survol de l'image */
}

@media screen and (max-width: 950px) {
  .profileCard {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  img {
    --s: 133px;
  }
}

@media screen and (max-width: 500px) {

  .button-89 {
    font-size: 1.2vh;
    padding: 1.5vh;
  }

}

@media screen and (max-width: 400px) {

  .button-89 {
    font-size: 1vh;
    padding: 1.5vh;
  }

}

@media screen and (max-width: 330px) {

  .button-89 {
    font-size: 0.66vh;
    padding: 1.2vh;
  }

}



.component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 6.6vh;
}